# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*.*
bin/*.*
.vs/*.*
inject/.vs/inject/v16/.suo
inject/.vs/inject/v16/ipch/AutoPCH/fafa2b2157c689b7/LAUNCHMANAGER.ipch
inject/.vs/inject/v16/ipch/AutoPCH/f7756ddfa25559cb/WINDOWPROC.ipch
inject/.vs/inject/v16/ipch/AutoPCH/d48f72d94a14ce9f/NETWORK.ipch
inject/.vs/inject/v16/ipch/AutoPCH/c9e14842825b2f7/BOOTHANDLER.ipch
inject/.vs/inject/v16/ipch/AutoPCH/b028ce4fa86fd105/DLL.ipch
inject/.vs/inject/v16/ipch/AutoPCH/a4580c58fe57d8d5/LOGGER.ipch
inject/.vs/inject/v16/ipch/AutoPCH/8dadc610a9c8e9a/MAIN.ipch
inject/.vs/inject/v16/ipch/AutoPCH/80ba399b50763936/DLLMAIN.ipch
inject/.vs/inject/v16/ipch/AutoPCH/7106234655aa82e9/NETPLAYMANAGER.ipch
inject/.vs/inject/v16/ipch/AutoPCH/6fb482776ba34f93/INJECTOR.ipch
inject/.vs/inject/v16/ipch/AutoPCH/401bc403caed5e75/UI.ipch
inject/.vs/inject/v16/ipch/AutoPCH/2dde16ce84451d3c/D3DHELPER.ipch
inject/.vs/inject/v16/Browse.VC.opendb
inject/.vs/inject/v16/Browse.VC.db
inject/build/vc142.idb
inject/build/vc142.pdb
inject/build/inject.tlog/link.write.1.tlog
inject/build/inject.tlog/link.read.1.tlog
inject/build/inject.tlog/link.command.1.tlog
inject/build/inject.tlog/inject.lastbuildstate
inject/build/inject.tlog/CL.write.1.tlog
inject/build/inject.tlog/CL.read.1.tlog
inject/build/inject.tlog/CL.command.1.tlog
inject/build/inject.log
inject/bin/inject_d.pdb
inject/bin/inject_d.ilk
redvoid/build/vc142.pdb
redvoid/build/vc142.idb
redvoid/build/redvoid.tlog/redvoid.lastbuildstate
redvoid/build/redvoid.tlog/link.write.1.tlog
redvoid/build/redvoid.tlog/link.read.1.tlog
redvoid/build/redvoid.tlog/link.command.1.tlog
redvoid/build/redvoid.tlog/CL.write.1.tlog
redvoid/build/redvoid.tlog/CL.read.1.tlog
redvoid/build/redvoid.log
redvoid/build/redvoid.tlog/CL.command.1.tlog
redvoid/bin/redvoid_d.pdb
redvoid/bin/redvoid_d.ilk
